In [1]:
import json
import pandas as pd
import datetime as dt

with open('data/1066392.json', encoding='utf-8') as f:
    d = json.load(f)
    
df = pd.json_normalize(d['members'].values())

df = df.drop(['last_star_ts', 'global_score', 'id'], axis=1)
left, right = 'completion_day_level.', '.get_star_ts'
df = df.rename(columns={col: col.lstrip(left).rstrip(right) for col in df.columns if col.startswith(left)})
df = df.rename(columns={'local_score': 'score'})
df = df[['name', 'score', 'stars'] + list(sorted(df.columns[3:]))]

conv_temps = lambda x: pd.NaT if pd.isna(x) or x==0 else dt.datetime.fromtimestamp(int(x))

for column in df.columns[3:]:
    df[column] = df[column].apply(conv_temps)

df['acumulat'] = dt.timedelta()
for col in range(3, df.shape[1]-1, 2):
    df[df.columns[col+1]] -= df[df.columns[col]]
    df['acumulat'] += df[df.columns[col+1]]
    df[df.columns[col]] = df[df.columns[col]].dt.strftime('%d-%m %H:%M:%S')

df = df.sort_values(by='acumulat', ascending=True)

pd.set_option('max_columns', None)
styles = [dict(selector='th', props=[('font-size', '150%'), ('text-align', 'center')]),
          dict(selector='td', props=[('text-align', 'center')])]

df.style.set_table_styles(styles).hide_index()